__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.idea/
.vscode/

data/fhps_aop/train/
data/fhps_aop/val/
data/fhps_aop/*.csv
data/fhps_aop/*.json
weights/*.pth
pretrained_pth/**/*.pth
runs/
checkpoints/
*.zip
*.7z
*.rar
